.game {
  max-width: 700px;
  margin: auto;
  padding: 1%;
  background-color: #060;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0.2em;
  }
  .selected {
    box-shadow: 0 0 3px 5px #08f;
  }
}

#deck-discard {
  margin-left: 37%;
}

#discard, #deck {
  display: inline-block;
  img {
    width: 50px;
  }
}

#discard li, .meld li {
  text-indent:-40px;
}

.melds img {
  width: 75%;
}

.meld {
  display: inline-block;
}

.hand li {
  text-indent:-35px;
}

#opponent {
  text-align: right;
}

#discard li, .meld li, .hand li {
  &:first-child {
    text-indent: 0;
  }
}
